body{
    background-image: url("../asset/pictures/istockphoto-1097442116-1024x1024\ \(1\).jpg");

}
.motherDiv{
    width: 100%;
    
}
.button{

}

.firstDiv{
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:0  20px;
    background-color: rgb(110, 16, 16, 0.9);
}
.menu{
    font-weight: bolder;
    font-size: 25px;
    border-bottom: 2px solid  black ;
    cursor: pointer;
}
