
.input-container {
    background-color:black;
    color: white;
   
}

.container {
    width: 400px;
    height: 400px;
    background-color:white;
    justify-content: center;
    color:rgb(204, 42, 42);
    margin-top: 20px;
    border-radius: 30px;
    margin: auto;
    
    opacity: 0.9;

}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.label{
    align-self: self-start;
    font-weight: 600;
}
.input{
    width: 300px;
    height:25px ;
    border-radius: 5px;
    border-color: rgba(204, 42, 42, 0.7);

}
.submit, .register{
    margin-top: 20px;
    background-color: rgb(204, 42, 42, 0.7);
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.mainContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    
}
.note{
    color: rgb(204, 42, 42);;
    width: 50%;
    text-align: center;
font-size: 90px;
margin-right: 30px;
}
.loginInput{
    display: flex;
    flex-direction: column;
    gap:5px;
}