.main{
    width: 100%;
    background: black;
    height: 50px;

}
.tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    
}
.nav{
    margin-left: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}