input-container {
    background-color: black;
    color: white;
   
}

.container {
   
    background-color: black;
    margin: auto;
    color: white;
}
.input{
    width: 300px;
    height:25px ;
    gap: 70px;

}
.register{
  display: flex;
  width: 40%;
  align-self:center ;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  margin-top: 35px;
  align-self: center;
  background-color: rgba(252, 251, 251, 0.8);
  padding: 40px 0;
  border-radius: 10px;
}
.motherDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.label{
    align-self: self-start;
    font-weight: 600;
    color: rgba(204, 42, 42);
}
.input{
    width: 300px;
    height:25px ;
    border-radius: 5px;
    border-color: rgba(204, 42, 42, 0.7);
}

.inputStyle{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.button{
    margin-top: 20px;
    background-color: rgb(204, 42, 42, 0.7);
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


